body {margin: 0;}
@mixin logo($mw: 50px) {
    font-size: 2rem;
    font-family: 'Protest Strike', sans-serif;
    color:yellow;
    text-decoration: none;
    img {max-width: $mw;}
}
$spe-color-1: #333333;
.Nav {
    position: fixed;
    width: 100%;
    padding: 10px;
    margin: -9rem auto;
    background-color:darkslateblue;
    button {
        color: aliceblue;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }
    #navbarContent button:hover {
        color: white;
        text-decoration:overline;
    }
    .logo {
        @include logo();
    }
    .btnTheme {
        background-color: transparent;
        border: none;
        color: #ffffff;
    }
    @media (min-width: 992px) {
        #navbarContent {display: block;}
    }
}
a:hover {cursor: pointer;}
.Footer {
    padding: 1rem;
    background-color:indigo;
    color: aliceblue;
    text-align: center;
    * {margin: auto;}
    hr {margin: 2rem;}
    a {text-decoration: none; color: aliceblue;}
    a:hover {text-decoration:underline;}
    .socials {margin-bottom: 1rem;}
    form {
        margin-top: 0.3%;
        width: 50%;
        min-width: 300px;
        .emailInput {
            height: 8vh;
            width: 100%;
            font-size: 1.4rem;
            padding-left: 10px;
        }
        .btnSubmit {
            margin-top: 1%;
            width: 15%;
            min-width: 100px;
            height: 8vh;
            font-size: 1.25rem;
        }
    }
}
@mixin sec-set($reqWidth: 75%) {
    border-radius: 10px;
    padding: 1rem;
    margin: 9rem auto 3rem;
    text-align: center;
}
.SectionQuestion {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h5 {font-style:italic;}
    @include sec-set();
    .ansSpace {margin: 1rem 0;}
    .ansSpace button{
        width: 40%;
        height: 8vh;
        min-width: 200px;
        font-size: 1.5rem;
        margin: 1rem;
    }
}
.SectionAbout {
    @include sec-set();
    .logo {@include logo($mw: 6rem); font-size: 4rem;}
    .aboutTextArea {
        width: 60%;
        margin: 0 auto;
        margin-top: 1rem
    }
    @media (max-width: 540px) {
        .logo {@include logo($mw: 3rem); font-size: 2rem;}
        .aboutTextArea {
            width: 95%;
            h2 {font-size: 1.4rem}
        }
    }
}
.infoTable1 {
    background-color: $spe-color-1;
    border-radius: 10px;
    padding: 0.2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    p {
        margin: auto 0;
        font-size: 1.1rem;
    }
    i {font-size: 6rem}
    .infoContent {margin-top: 5rem}
}
@media (max-width: 540px) {
    .infoTable1 {
        padding: 1rem;
        i {font-size: 4rem; padding: 1rem;}
    }
}
.secMain {height: 100vh;}
.SectionHome {
    @include sec-set;
    h1 {
        margin-top: 0.75rem;
        font-size: 5rem;
    }
    h4 {color: rgba(255, 255, 255, 0.5); width: 50%; margin: 0 auto;}
    i {margin-bottom: 2rem;}
    p {font-size: 1.4rem;}
    .logo {
        @include logo($mw: 10rem);
        font-size: 7rem;
        text-shadow: 0 0 1px black;
    }
    .home-bh {
        text-align: center; 
        margin: 0 auto; 
        max-width: 75%;
    }
    button {margin-top: 1.25rem;}
    .home-bh-content {
        border: 1px solid white; 
        padding: 0.25rem;
        border-radius: 10px;
        background-color: $spe-color-1;
    }
    @media (max-width: 992px) {
        h1 {font-size: 3.5rem;}
        h4 {font-size: 1.25rem; width: 100%;}
        .logo {
            @include logo($mw: 6rem);
            font-size: 4rem
        }
        p {font-size: 1rem}
    }
}
.CreateQuizSection {
    @include sec-set();
    textarea {
        resize: none;
        width: 100%;
        text-align: center;
        max-width: 900px;
        font-size: 1.25rem;
    }
    .logo {@include logo();}
    button {margin: 0.4rem;}
    .quizElement {
        margin-bottom: 1.5rem;
        h1 {margin-bottom: 1rem;}
    }
    .optionsElement textarea {margin-bottom: 0.7rem;}
}